<!DOCTYPE html>
<html lang="en">
<head>
    <title>AboutPage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
</head>
<body>
    <header>
        <nav id="header-nav" class="navbar navbar-expand-md  sticky-top">
        <div class="container-fluid">
             <a class="navbar-brand" href="/"><img class="logo" src="{{url_for('static', filename='./images/logo3.jpg')}}" alt=""><strong class="heading">Home Rental Platform</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
                  <span class="navbar-toggler-icon bg-light"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav">
                    {%if username=="" %}
                       <li id="item2" class="nav-item">
                          <a class="nav-link" href="/login">Login</a>
                       </li>
                       <li id="item3" class="nav-item">
                          <a class="nav-link" href="/register">Register</a>
                       </li>
                    {%else%}
                       <li id="item2" class="nav-item">
                        {%if username=="admin"%}
                          <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                        {%else%}
                          <a class="nav-link" href="{{ url_for('userdashboard') }}">Dashboard</a>
                        {%endif%}
                       </li>
                       <li id="item3" class="nav-item">
                          <a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                       </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
        <p class="ab">
            This portal is designed to provide the facility where a customer can easily buy or sell their properties such as apartment & room.
            The user can be both buyer or seller. The user just has to register on this web portal,
            then the user can easily upload information of their properties to sell and also search for properties to buy. 
            The system contains a search filter which helps users to search property in a certain city, state or according to the price range.
            Users can also make complaints against apartment/rooms. But the owner cannot buy/make complaints for his/her own property. 
            The owner can edit/delete his/her property details whenever they want. Seller can approve multiple buyers for his property.
            Users also receives notifications when someone make complaints against his property or when someone applies for his property. 
            Buyer will also receive notification if his application has been approved. 
            The admin can see list of registered users,
            details of properties and controls the complaints and if he founds that the complaint is correct he sends the warning notification to the respective owner.
        </p>
    </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
