<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{url_for('static',filename='userdashboard.css')}}">
   <title>Dashboard</title>
  </head>
  <body>



<div id="wrapper">
    <div class="overlay"></div>


     <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
            <div class="sidebar-brand">
              <a href="/"><img class="logo31" src="{{url_for('static',filename='./images/logo3.jpg')}}" alt="">Home</a>
            </div>
        </div>
        <li><a href="/userdashboard">Dashboard</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle"  data-toggle="dropdown">User <span class="caret"></span></a>
      <ul class="dropdown-menu animated fadeInLeft" role="menu">
             <div class="dropdown-header">{{username}}</div>
             <li class="dropdown-header">{{email1}}</li>
       <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
       </ul>
       </li>
          <li><a href="/userdashboard/apmt_reg/">Register</a></li>
          <li><a href="{{ url_for('ownerpropdetails') }}">Details/Update</a></li>
          <li><a href="{{ url_for('approval') }}">Approve Apartment</a></li>
          <li><a href="{{ url_for('approval2') }}">Approve Room</a></li>
       </ul>
   </nav>

         <div id="page-content-wrapper">
             <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                 <span class="hamb-top"></span>
                 <span class="hamb-middle"></span>
                 <span class="hamb-bottom"></span>
             </button>
             <div class="container">
                 <div class="row">
                     <div class="col-lg-8 col-lg-offset-2">
                         <div id="s1">
                             <h1>DASHBOARD</h1>
                         </div>
                         <div>
                            <h2>Notifications</h2>
                        </div>
                        {% for r in rental %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{r[1]}} has applied for your registered apartment {{r[0]}} !  <a href="{{ url_for('approval') }}" class="alert-link">View</a>
                          </div>
                        {% endfor %}  
                        {% for o in outcome %}
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                              Your Application for apartment {{o[0]}} has been approved!  <a href="#" title="Contact info" data-toggle="popover" data-trigger="focus" data-content="Contact the seller for further proceedings. Email:{{o[1]}} Mobile:{{o[2]}}">Contact seller</a>
                          </div>
                        {% endfor %} 
                        {% for r in rental2 %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{r[1]}} has applied for your registered room {{r[0]}} !  <a href="{{ url_for('approval2') }}" class="alert-link">View</a>
                          </div>
                        {% endfor %}
                        {% for o in outcome2 %}
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                              Your Application for Room_no {{o[0]}} has been approved!  <a href="#" title="Contact info" data-toggle="popover" data-trigger="focus" data-content="Contact the seller for further proceedings. Email:{{o[1]}} Mobile:{{o[2]}}">Contact seller</a>
                          </div>
                        {% endfor %} 
                         {% for c in compapt %}

                             <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                               This "{{c[1]}}" complaint has been registered against your apartment {{c[0]}}. If more complaints are found then your apartment will be deleted.
                            </div>

                        {% endfor %}
                         {% for c in comproom %}

                             <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                               This "{{c[1]}}" complaint has been registered against your room {{c[0]}}. If more complaints are found then your room will be deleted.
                            </div>

                        {% endfor %}
                    </div>
                 </div>
             </div>
         </div>


     </div>
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename='dashboard.js')}}"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
      });
      </script>
  </body>
</html>
